* { box-sizing: border-box; margin: 0; padding: 0; }

body { 
    /* --- Setările NOI pentru imaginea de fundal --- */
    background-image: url('../IMG/fundal.png'); /* Aici pui numele exact al pozei tale */
    background-size: cover;                     /* Forțează poza să acopere absolut tot ecranul */
    background-position: center;                /* Ține poza centrată pe mijloc */
    background-attachment: fixed;               /* Face poza să stea nemișcată când dai scroll (efect foarte pro) */
    background-color: #2b2b2f;                  /* Culoare de rezervă în cazul în care poza se încarcă greu */
    
    /* --- Setările VECHI pe care le păstrăm --- */
    display: flex; 
    justify-content: center; 
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
    background-color: rgba(0, 0, 0, 0.521); /* 0.4 înseamnă 40% vizibilitate */
    width: 100%;
    max-width: 480px; 
    min-height: 100vh;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Păstrăm umbra aici */
}

#profile-component, #social-component, #affiliate-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}